
@{
    ViewData["Title"] = "Index";
}

<h1>Candidatos</h1>

<h3>Escolha uma opção</h3>
<ul>
    <li>
        <a asp-action="ListarCandidatos" asp-controller="Candidatos">Lista de Candidatos</a>
    </li>
</ul>

